@media screen and (max-width:1000px){
    header{
        height: auto;
    }
    nav{
        flex-direction: column;
        height: auto;
    }
    .slider{
        height: 33vh;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: auto;
    }
    .search{
        justify-content: center;
        margin: 6px 0;
    }
    #searchBar{
        margin: 0 1px;
    }
    .btn{
        margin: 0; 
    }

}